<h1 class="center"><strong>Ajánlatok:</strong></h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/1.webp" alt="Termek" style="width:100%">
      <div class="container">
        <h2>Termek 1</h2>
        <p class="title">Valamilyen &amp; termek</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example example</p>
        <p><button class="button">Kosárba</button></p>
        <p><button class="button">Kedvencekhez</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/1.webp" alt="Termek" style="width:100%">
      <div class="container">
        <h2>Termek 2</h2>
        <p class="title">Valamilyen &amp; termek</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example example</p>
        <p><button class="button">Kosárba</button></p>
        <p><button class="button">Kedvencekhez</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/1.webp" alt="Termek" style="width:100%">
      <div class="container">
        <h2>Termek 3</h2>
        <p class="title">Valamilyen &amp; termek</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example example</p>
        <p><button class="button">Kosárba</button></p>
        <p><button class="button">Kedvencekhez</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/1.webp" alt="Termek" style="width:100%">
      <div class="container">
        <h2>Termek 4</h2>
        <p class="title">Valamilyen &amp; termek</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example example</p>
        <p><button class="button">Kosárba</button></p>
        <p><button class="button">Kedvencekhez</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/1.webp" alt="Termek" style="width:100%">
      <div class="container">
        <h2>Termek 5</h2>
        <p class="title">Valamilyen &amp; termek</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example example</p>
        <p><button class="button">Kosárba</button></p>
        <p><button class="button">Kedvencekhez</button></p>
      </div>
    </div>
  </div>
</div>


